@{
    ViewData["Title"] = "addStudent";
}

<h1>addStudent</h1>
<form action="/" method="post">
    Student Name: <br />
    <input type="text" name="Name" value="" />    <br />
    Branch: <br />
    <input type="text" name="Branch" value="" /> <br />
    <input type="submit" value="Submit" />
</form>
